* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana, sans-serif;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

nav {
  display: flex; /* Keeps logo and nav links horizontal in nav bar */
  height: 60px;
  padding: 5px;
  width: 100%;
  position: fixed; /* Keeps nav bar at top of screen */
  top: 0; /* Locks nav bar at very top of screen */
  background-color: white; /* Ensures content below nav bar disappears behind it when scolling */
  box-shadow: 0 1px 5px #0086f4;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

nav > ul > li {
  list-style: none;
  font-weight: bold;
}

nav > ul > li > a {
  font-family: "Permanent Marker", cursive;
  text-decoration: none;
  color: black;
  text-shadow: 0.5px 0.5px #0086f4;
  font-size: 18px;
}

#nav-icon {
  height: 100%;
}

header {
  margin-top: 100px; /* Keeps header content below nav bar so it doesn't load behind it */
  min-height: 100vh;
}

#image {
  max-width: 85%;
  height: 100%;
  display: block; /* Allows auto margin to center image */
  margin: 25px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 3px #ccc;
}

h1 {
  color: #0086f4;
  text-shadow: 3px 3px black;
  margin-top: 30px;
  font-size: 40px;
}

h2 {
  margin: 20px;
  font-size: 35px;
  text-shadow: 1.5px 1.5px #0086f4;
}

h3 {
  margin-bottom: 25px;
  padding-top: 80px;
  font-size: 30px;
  text-shadow: 1.5px 1.5px #e94141;
}

#about {
  margin-top: -80px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

p {
  margin: 10px 25px;
}

ol li {
  margin: 10px 50px;
}

.play-ttt {
  display: block;
  width: 70%;
  max-width: 600px;
  margin: 40px auto;
}

.play-ttt img {
  height: 100px;
  width: 100%;
  background: radial-gradient(
    circle at 50% 0,
    lightgrey,
    #a6d7ff 43%,
    rgba(200, 200, 200, 0.65)
  );
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 3px #a6d7ff;
}

.play-ttt img:hover {
  box-shadow: 10px 10px 3px #f4a0a0;
}

.wiki-button {
  font-family: "Permanent Marker", cursive;
  display: block;
  padding: 25px 10px;
  margin: 40px auto;
  width: 60%;
  max-width: 450px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  color: #e94141;
  background: radial-gradient(
    circle at 80% 0,
    lightgrey,
    white 43%,
    rgba(200, 200, 200, 0.65)
  );
  box-shadow: 5px 5px 3px #0086f4;
}

.wiki-button:hover {
  box-shadow: 5px 5px 3px #e94141;
  color: #0086f4;
}

.center {
  text-align: center;
}

/* figcaption was required for freeCodeCamp's project, I don't want it to display */
figcaption {
  display: none;
}

/* Small screen, removes nav links and changes margins on list items showing tic-tac-toe versions */
@media screen and (max-width: 450px) {
  nav ul {
    display: none;
  }
  ol li {
    margin: 10px 35px;
  }
}

/* Large screen, increases font size for better appearance */
@media screen and (min-width: 750px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 35px;
  }
}
